/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*UTILITY*/
.flex{
    display: flex;
}

.wh-50{
    min-width: 50%;
    background-color: #daa520;
}

.wh-25{
    min-width: 25%;
    background-color: #daa520;
}

.reverse{
    flex-direction: row-reverse;
}

.border{
    border: black 2px dashed;
}


/*BEGIN*/

header{
    height: 100px;
    background-color: #add8e6;
    justify-content: space-around;
    align-items: center;
}

.nav-block{
    width: 800px;
    height: 50px;
}

.logo-block{
    align-items: center;
}

.link-block{
    justify-content: space-around;
    align-items: center;
}
    
.login-block{
    align-items: center;
    justify-content: end;
}

/*MAIN*/

.main-container{
    background-color: #00008b;
    height: 400px;
    width: 1440px;
    justify-content: center;
    align-items: center;
    border-bottom: #add8e6 solid 1px;
}

.main-block{
   background-color: #ee82ee;
   height: 300px;
   width: 700px;
}


/*INIZIO CARD*/
.white-container{
    background-color: #fff;
    height: 500px;
    width: 1440px;
    justify-content: center;
    align-items: center;
}

.grey-container{
    background-color: #d3d3d3;
    height: 500px;
    width: 1440px;
    justify-content: center;
    align-items: center;
}

.content-block{
    height: 400px;
    width: 800px;
}

.content-big{
    background-color: #1e90ff;
    width: 70%;
}

.content-small{
    background-color: #ffc0cb;
    width: 30%;
}
 
/*BIG CONTAINER*/

.big-container{
    background-color: #d3d3d3;
    height: 800px;
    width: 1440px;
    justify-content: center;
    align-items: center;
}

.big-block{
    height: 700px;
    width: 800px;
    background-color: #228b22;
}